*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif;
    /* outline: solid 1px red; */
}
.header{
    background-color: #F7F6F4 !important;

}
.header li{
    font-size: 14px;
}
.header li a{
    color: black;
    text-decoration: none;
}
.whatsappIcon{
    width: 30px;
}
header button{
    font-size: 14px !important;
}
.navbar{
    background-color: #ECE8D9;
}

nav li a{
    color: black;
    text-decoration: none;
}
nav li{
    font-size: 14px;
    font-weight: 500;
}
nav p{
    font-size: 14px !important;
}
.cart{
    width: 30px;
    height: 30px;
    margin-top: -2%;
}
.sec1{
    background-color: #ECE8D9;
    background-image: url(./media/handcard.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position:bottom right;
    padding:100px 70px !important;
}
.sec1 h1{
    font-family: "DM Serif Display", serif;
    color: #384A62;
    font-size: 67.2px;
}
.sec1 h3{
    color: #384A62;
    font-weight: 600;
    font-size: 24px;
}
.sec1Item{
    width: 50%;
}
.inputCon{
    display: flex;
    background-color: white;
    width: 100%;
}
.inputCon input{
    width: 100%;
    border: none;
    outline: none;
}
.inputCon input::placeholder{
    color: #B0B8C2;
}
.sec1 .menuBtn{
    display: none;
}
.sec2{
    padding: 50px 70px !important;
}
.secTitle{
    color: #384A62;
    font-family: "DM Serif Display", serif;
    font-size: 30px;
}
.myAngle{
    transition: .3s ease;
}
.cardBtn{
    font-size: 14px !important;
}
.cardBtn:hover .myAngle{
    transform: translateX(10px);
}
.productImg{
    height: 200px !important;
    transition: .3s ease;
}
.productImg:hover{
    transform: scale(1.1);
}
.popularProduct {
    margin-bottom: 100px !important;
}
.nigeriaNo{
    width: 50%;
}
.nigeriaNo p{
    font-size: 20px;
    font-weight: 600;
    color: #506683;
    margin-bottom: 10px !important;
}
.companyLogos img{
    width: 100%;
}
.sec3{
    padding: 50px 70px !important;
    background-color: #EDF6FD;
}
.reviewCon{
    background-color: white;
    padding: 20px !important;
    margin: 20px 0 !important;
    width: 100%;
    gap: 20px;
    display: flex;
}
.reviewCon button{
    height: 33px ;
    padding: 10px !important;
    align-items: center;
    display: flex;
    width: 33px ;
    border: solid 1px rgb(231, 231, 231);
}
.reviewName{
    font-weight: 500;
    font-size: 14px !important;
    margin-bottom: 15px !important;
}
.reviewCon .reviewP{
    font-size: 15px !important;
}
.reviewCon a{
    color: #1DA1F2;
    text-decoration: none;
}
.sec4 header{
    font-size: 15px;
    font-weight: 500;
}
.sec4 p{
    font-size: 15.5px;
    color: #677FAB;
}
.sec4{
    padding:70px !important;
}
.sec4 .contentCon{
    width: 25%;
    /* width: 100%; */
}
.contentCon img{
    width: 70px ;
}


@media (max-width:768px) {
    header .costCal{
        display: none !important;
    }
    header li{
    font-size: 12px;
    }
    header button{
    font-size: 12px;
    }
    header .needHelp{
        width: 100%;
        justify-content: space-between !important;
    }
    .needHelp li span{
        display: none;
    }
    .needHelp li{
        flex-direction: column;
        gap: 0px !important;
    }
    .navbar{
        padding:10px 20px !important;
    }
    nav .navList{
        display: none !important;
    }
    .createAcc{
        display: none !important;
    }
    .sec1{
        background-image: none;
        padding: 50px 30px !important;
    }
    .sec1Item{
        width: 100%;
    }
    .sec1 .menuBtn{
    display: block;
    }
    .sec2{
        padding:50px 20px !important;
    }
    .nigeriaNo{
    width: 100%;
    }
    .nigeriaNo p{
        font-size: 16px;
    }
    .sec3{
        padding: 20px !important;
    }
    .sec4{
        padding:70px 20px !important;
    }
    .sec4 .contentCon{
        width: 80%;
        margin: 30px 0 !important;
    }
   
    
}
@media (max-width:475px){
    .card{
        width: 100% !important;
    }
}